@CHARSET "UTF-8";
.error {
	color: red;
	display: none;
	font-size: 12px;
	margin-left:90px;
}
.error2{
	color: red;
}

fieldset {
	width: 960px;
	border: 1px solid gray;
}

label {
	padding-left: 10px;
	width: 130px;
	float: left;
}

p:LAST-CHILD {
	text-align: center;
}


header{
	width : 1150px;
	height: 150px;
	background:#1E90FF;
	line-height: 150px;
	margin:0 auto;
}
header p{
	color:white;
	font-size:25px;
}

section{
	width: 960px;
	height:600px;
	margin: 20px auto;
	
}
#dateerror{
	display: none;
	color:red;
}
#projectinput{
	text-align: right;
}
table{
	width: 960px;
	border: 1px solid black;
	border-collapse:collapse;
	text-align: center;
	
}

td{
	border: 1px solid black;
}

th{
	border: 1px solid black;
	width: 250px
}

footer{
	color:white;
	text-align: center;
	height: 150px;
	width : 1150px;
	margin:0 auto;
	
	background: #1E90FF;
	line-height: 150px;
	
}
footer p {
	font-size: 25px;
}